.bottom {
  position: relative;
  width: 100%; 
  max-width: 1520px; 
  margin: 0 auto; 
  margin-top: -110px;
  display: flex;
  justify-content: center;
  left: -30px; 
}

.bottom img {
  width: 100%; 
  max-width: 1000px;
  height: auto;
}

@media (max-width: 768px) {
  .bottom {
    width: 100%;
  }

  .bottom img {
    width: 100%;
    max-width: 1520px;
  }
}
