.top {
  position: relative;
  width: 100%; 
  max-width: 1480px; 
  margin: 0 auto; 
  margin-bottom: -70px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.top img {
  width: 100%; 
  max-width: 1000px; 
  height: auto;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%; 
  max-width: 300px; 
  min-width: 150px; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}


@media (max-width: 768px) {
  .top {
    width: 100%;
    margin-bottom: 0; 
  }

  .top img {
    width: 100%;
    max-width: 1480px;
  }
}
