.shelf {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #8b5e3c;
  border: 2px solid #5c3a22;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.bookshelf-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.bookshelf {
  position: relative;
  width: 60%;
  max-width: 1400px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #7f4014;
  border: 2px solid #5c3a22;
  border-radius: 10px;
}

.book {
  width: 150px;
  height: 150px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.book img {
  width: 100%;
  height: 100%;
}

.loading-message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

@media (max-width: 768px) {
  .shelf {
    max-width: 85%;
  }

  .book {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
