.shelf,
.topShelf {
  position: relative;
  width: 100%; 
  max-width: 1500px; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

.topShelf {
  margin-top: -70px;
  left: -15px; 
}

.shelf {
  left: -15px;
}

.shelf img,
.topShelf img {
  width: 100%; 
  max-width: 750px; 
  height: auto;
}


@media (max-width: 768px) {
  .shelf img,
  .topShelf img {
    width: 100%;
    max-width: 1480px;
  }
}

.bookshelf {
  background-image: url(./public/shelf.png);
}
