* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url(/public/Babel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
